// Mixin Flexbox
@mixin flexible($display, $direction, $wrap, $justify, $align) {
    display: $display;
    flex-direction: $direction;
    flex-wrap: $wrap;
    justify-content: $justify;
    align-items: $align;
}